<div >
  <h2><a href="/">Your Accounts</a></h2>
remote accounts
  <hr />
  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody id="accounts">
      <tr *ngIf="isLoading">
        <td colspan="2">Loading your accounts...</td>
      </tr>
      <ng-template [ngIf]="!isLoading">
        <tr *ngFor="let account of accounts">
          <td>{{account.address}}</td>
          <td>{{account.balance}}</td>
        </tr>

      </ng-template>
    </tbody>
  </table>
</div>